<div class="col-md-12 white-bg well"><div class="col-md-6">
<p>
  <h2> <%= @student.name %></h2>
</p>

<p>
  <strong>Registro Nº:</strong><br>
  <%= @student.register_number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @student.status %>
</p>

