<div class="col-md-12 white-bg well"><div class="col-md-6">
<p>
  <h2> <%= @course.name %></h2>
</p>

<p>
  <strong>Registro Nº:</strong><br>
  <%= @course.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @course.status %>
</p>

