<%# navigation styled for Bootstrap 3.0 %>
<div class="painel-left">
  <div class="painel-up">          
    <div class="col-md-6">
      <div class="inner-addon left-addon">
      <i class="fa fa-search"></i>      
      <input type="text" class="form-control" placeholder="Pesquise por estudantes..." />
    </div>
  </div>
  </div> 
</div>
