<!-- Sidebar -->
<div id="sidebar-wrapper"align="center">
  <ul class="sidebar-nav" >
    <li class="brand">
     <h3>Proficiency Teste</h3>
    </li>
    <li class="">
      <a  href="/" class="btn-sidebar"><i class="fa fa-home fa-lg"></i> <span class="left-icon-sidebar"> Início</span></a>
    </li>
    <p></p>
    <li>
      <a href="javascript:;"  class="btn-sidebar sidebar-left-icon " data-toggle="collapse" data-target="#student"><i class="fa fa-users fa-lg "></i> <span class="left-icon-sidebar"> Estudantes </span><span class="caret"></span></a>
      <ul id="student" class="collapse" align="left" style="list-style-type: none;">
        <p></p>
        <li><a href="/students/" class="btn-sidebar-ul"><i class="fa fa-list fa-lg"></i> Ver Estudantes</a></li>
        <li><a href="/students/new" class="btn-sidebar-ul"><i class="fa fa-plus fa-lg"></i> Novo Estudante</a></li>
      </ul>
    </li>
    <p></p>
    <li>
      <a href="javascript:;"  class="btn-sidebar sidebar-left-icon " data-toggle="collapse" data-target="#team"><i class="fa fa-graduation-cap fa-lg "></i> <span class="left-icon-sidebar"> Cursos </span><span class="caret"></span></a>
      <ul id="team" class="collapse" align="left" style="list-style-type: none;">
        <p></p>
        <li><a href="/courses" class="btn-sidebar-ul"><i class="fa fa-list fa-lg"></i> Ver Cursos</a></li>
        <li><a href="/courses/new" class="btn-sidebar-ul"><i class="fa fa-plus fa-lg"></i> Nova Curso</a></li>
      </ul>
    </li>
    <p></p>
    <li>
      <a href="javascript:;"  class="btn-sidebar sidebar-left-icon " data-toggle="collapse" data-target="#employee"><i class="fa fa-users fa-lg "></i> <span class="left-icon-sidebar"> Matrículas </span><span class="caret"></span></a>
      <ul id="employee" class="collapse" align="left" style="list-style-type: none;">
        <p></p>
        <li><a href="/classrooms/" class="btn-sidebar-ul"><i class="fa fa-list fa-lg"></i> Ver Matrículas</a></li>
        <li><a href="/classrooms/new" class="btn-sidebar-ul"><i class="fa fa-plus fa-lg"></i> Nova Matrícula</a></li>
      </ul>
    </li>
    <p></p>
  </ul>
</div>
<!-- /#sidebar-wrapper -->